table,
table * {
  border-collapse: collapse;
  border: 1px solid black;
  width: 750px;
}

body {
  background-color: #c2f8f7;
}
h1 {
  font-weight: bold;
  font-size: 2.5em;
}
p {
  margin: 0 8px;
  color: rgb(96 96 96);
}
img {
  width: 480px;
  height: 220px;
}
ul:not(.u_paragrafu) {
  list-style-type: none;
  display: flex;
}
li:not(.ne_diraj) {
  text-align: center;
  margin-left: 275px;
}
button {
  background-color: #c2f8f7;
}
form * {
  width: 100%;
  border-radius: 4px;
}
